html, body	{
	height:100%;
}

body {
	background-color: #FFFFFF;
	margin: 10px auto;
	min-width: 1180px;
	max-width: 1180px;
	background-repeat: repeat-y;
	background-size: 100% auto;
	background-image: url(images/backgroundplainhalf.png);
}

/******************** Common CSS ********************/

#Wrapper {
	background-color: #cfc0dd;
	-webkit-box-shadow: 10px 5px 5px #828282;
	-moz-box-shadow: 10px 5px 5px #828282;
	-webkit-box-reflect: 10px 5px 5px #828282;
	box-shadow: 10px 5px 5px #000000;
}

#LogoContainer {
	background-image: url(images/DanceLogo2.png);
	background-size: 1180px 150px;
	background-repeat: no-repeat;
	margin: 0px auto;
	width: 1175px;
	height: 149px;
	border-style: groove;
}

#Content {
	margin-left: 160px;
	border: 5px solid #cfc0dd;
	background-color: #FFFFFF;
	padding: 0 0;
	overflow: auto;
	padding-top: 0;
}

#titleheader {
	color: #5a00b3;
	background-color: #cfc0dd;
	padding-right: 41px;
	font-size: 2.05em;
	text-align: center;
	margin-top: 0;
	margin-bottom: 5px;
}

.sectionTitleHeader {
	color: #5a00b3;
	background-color: #cfc0dd;
	padding-left: 10px;
	font-size: 2.45em;
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: bold;
	text-align: center;
}

.sectionText {
	background-color: #FFFFFF;
	color: #000000;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.25em;
}

.sectionText h3 {
	text-align: left;
	color: black;
	margin-bottom: 0px;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-image: url(images/backgroundplainhalf.png);
	margin-top: 0;
}

/******************** End of Common CSS ********************/

/******************** Navigation CSS ********************/

.Navigation {
	float: left;
	min-width: 160px;
	width: 160px;
	margin-top: 0px;
	padding-top: 10px;
	background-color: #cfc0dd;
}

.Navigation a{
	text-decoration: none;
}

.MenuItem {
	margin-bottom: 10px;
	width: 120px;
	height: 40px;
	border:none;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
	font-size: 1.25em;
	display: block;
	font-weight: bold;
	color: black;
	background-color: #ceddc0;
	width: 120px;
	padding: 5px 2px;
	border: 5px outset #5a00b3;
	text-align: center;
	
	margin-left: auto;
    margin-right: auto;
}

.button:hover{
	-webkit-box-shadow: 5px 5px 5px #828282;
	-moz-box-shadow: 5px 5px 5px #828282;
	-webkit-box-reflect: 5px 5px 5px #828282;
	box-shadow: 5px 5px 5px #000000;

	background-color: white;
	color: #8700b3;
}

.button:active{
	background-color: white;
	color: #8700b3;
}

.button:link{
	color: black;
}

.button:visited{
	color: #8700b3;
	background-color: white;
}

.buttonSelected {
	text-align: center;
	display: block;
	font-size: 1.25em;
	font-weight: bold;
	color: #8700b3;
	background-color: white;
	width: 120px;
	padding: 5px 2px;
	border: 5px solid #5a00b3;
	
	margin-left: auto;
    margin-right: auto;
}

.buttonSelected:hover{
	-webkit-box-shadow: 5px 5px 5px #828282;
	-moz-box-shadow: 5px 5px 5px #828282;
	-webkit-box-reflect: 5px 5px 5px #828282;
	box-shadow: 5px 5px 5px #000000;
}	

.ConnectSection h3{
	text-align: center;
}

.ConnectLogo {
	width:40px;
	height: 40px;
	margin-left: 22.5px;
	margin-right: 10px;
	border:none;
}
	
/******************** End of Navigation CSS ********************/

/******************** Custom Home CSS ********************/

#Intro {
	text-align: center;
	font-style: italic;
	font-size: 80%;
}

#MainImage {
	width: 530px;
	height: 370px;
	float: left;
	padding-right: 30px;
	padding-left: 10px;
	padding-top: 0px;
}

.recentnews {
	border: groove;
	border-color: #756a82;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 10px;
	height: 100px;
}

.productDescription {
	padding: 0px;
	padding-top: 5px;
}

.productDescription  #list{
	margin-left: 20px;
	list-style-position: inside;
	font-size: 140%;
}

.productDescription  #list p{
	font-style: italic;
	font-weight: bold;
}

.innerDescription {
	clear: both;
	padding-left: 10px;
	font-size: 120%;
}
	
/******************** End of Custom Home CSS ********************/
	
/******************** Custom Calendar CSS ********************/
#Calendar {
	width: 450.45px;
	height: 455.2px;
	float: left;
	padding-right: 30px;
	padding-top: 45px;
}

#ClassInfo {
	width: 52.03%;
	float:left;
}

/******************** End of Custom Calendar CSS ********************/
	
/******************** Custom AboutUs CSS ********************/

.BioImage {
	background-image: url(images/unknown.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 200px;
	height: 200px;
	float: left;
	overflow: auto;
}

.BioDescription {
	text-indent: 10%;
	margin-top: 3px;
	color: #000000;
	padding-left: 10px;
}

/******************** End of Custom AboutUs CSS ********************/
	
/******************** Custom ContactUs CSS ********************/

#contactDiv {
	margin-top: 0;
	margin-bottom: 0;
}

#Location {
	font-size: 140%;
	padding-top: 20px;
}

.MapLocation {
	width: 40%;
	height: 40%;
	padding-right: 20px;
	float: left;
	clear: right;
}

/******************** End of Custom ContactUs CSS ********************/
	
/******************** Custom Classes/MartialArts/Musicals CSS ********************/

#classList {
	background-color: #FFFFFF;
	overflow: auto;
	width: 18%;
	float: left;
}

#classList a{
	text-decoration: none;
}

#classList p{
	width: 140px;
}

#ClassInformation {
	background-color: #FFFFFF;
	overflow-y: visible;
	width: 81.01%;
	float:left;
	border-left: 5px solid #cfc0dd;
}

#ClassInformation img{
	float: right;
	clear: right;
}

.ClassDescription {
	padding-top: 5px;
	padding-left: 10px;
	margin-top: 3px;
}

.DescriptionIndent {
	display: inline-block;
	text-indent: 9%;
}
/******************** End of Custom Classes/MartialArts/Musicals CSS ********************/
	
/******************** Custom Nutcracker CSS ********************/
	
#actors  dt{
	padding-top: 10px;
	padding-bottom: 10px;
}

#nutcracker {
	display: block;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#tablekey {
	font-weight: bold;
	color: #9932CC;
	padding-left: 20px;
}

#tablekey span{
	color: black;
}
	
/******************** End of Custom Nutcracker CSS ********************/

/******************** Custom Footer CSS ********************/
footer {
	color: #9932CC;
	background-color: #cfc0dd;
	clear: right;
	margin-left: 160px;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#Links {
	text-align: center;
	font-size: 150%;
	font-weight: bolder;
	margin: 0;
	padding-top: 10px;
}

#Links a{
	text-decoration: none;
}

#ContactInformation { 
	color:#810081;
	font-size: 1.15em;
	text-align: center;
}

#Indent {
	display: inline-block;
	text-indent: 25%;
}

#Copyright {
	font-size: .85em;
}

/******************** End of Footer CSS ********************/

/******************** Miscellaneous CSS ********************/

.boldTextFooter {
	display: inline-block;
	font-weight: bold;
	color: #810081;
	text-transform:uppercase;
}

.boldText {
	font-weight: bold;
}

.CompName {
	font-size: 1.05em;
	font-weight: bolder;
	color: #000000;
	text-transform:uppercase;
}

.topOfPage p {
	text-align: center;
}

.center {
	text-align: center;
}

/******************** End of Miscellaneous CSS ********************/